.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.botoes .bt1 {
  background-color: #ff2222; /* red */
  border-radius: 60px;
  color: black;
  padding: 12px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px; 
}

.botoes .bt1:hover{
  cursor: pointer;
  box-shadow: 0 8px 12px #e92f2f;
  transition: 0,5s;
  opacity: 80%;
}

.botoes .bt2 {
  background-color: #46ff2d; /* green */
  border-radius: 60px;
  color: black;
  padding: 12px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px; 
}

.botoes .bt2:hover{
  cursor: pointer;
  box-shadow: 0 8px 10px #4ff32e;
  transition: 0,5s;
  opacity: 80%;
}